body{
    margin-left: 0;
    margin:0;
    font-family: sans-serif;
}
.header{
    width:100%;
    background-color: rgb(99, 95, 95);
    color:white;
    padding:15px;
    text-align: center;
}
.signupForm{
    position: absolute;
    width:600px;
    top:20%;
    left:50%;
    transform: translate(-50%,50%);
    border: 1px solid rgb(87, 82, 82);
    padding: 10px;
    border-radius: 8px;
    input{
        width:90%;
        border: 1px solid green;
        height:30px;
        padding:5px;
        margin: 10px; 
        border-radius: 8px;
    }
    button{
        width:90px;
        padding:5px;
        margin: 10px;
        border-radius: 8px;
        border: 1px solid green;
    }
}